<footer class="footer">
    <img src="img/icons/logo3.svg" alt="" class="footer__logo">
    <div class="container">
        <div class="footer__content">
            <div class="footer-top">
                <div class="footer-top__column column-top">
                    <div class="footer-top__text">
                        <p>
                            UNIQUE EVENTS<br>
                            NETWORKING PLATFORM<br>
                            PERSONAL BRAND AWARENESS<br>
                            SHARED VALUES THAT MATTER<br>
                            POWERFUL TRANSFORMATION STORIES<br>
                            AN INSPIRING WOMEN COMMUNITY<br>
                            INTERNATIONAL MENTORS & SPEAKERS<br>
                        </p>
                        <span>JOIN THE CLUB</span>
                    </div>
                    <div class="footer-top__left">
                        <div class="footer-top__contacts">
                            <div class="footer-top__name">
                                RED DIAMOND
                                <a href="mailto:INFO@REDDIAMOND.CLUB">INFO@REDDIAMOND.CLUB</a>
                            </div>
                            <p>
                                CYPRUS
                            </p>
                            <div class="footer-top__name">
                                CONNECT
                            </div>
                        </div>
                        <div class="footer-top__code">
                            <img loading="lazy" src="img/qr-code.webp" alt="">
                            <span>
                                SUPPORT<br>
                                THE PROJECT
                            </span>
                        </div>
                    </div>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__menus">
                        <div class="footer-top__menu">
                            <a href="events.html" class="footer-top__menu-title">
                                EVENTS
                            </a>
                            <ul>
                                <li>
                                    <a
                                        href="https://drive.google.com/drive/folders/1hVr_K5ZTfaBFT_GZtiXd2lBW7HSy0r8W?usp=drive_link">APPLICATIONS</a>
                                </li>
                                <li>
                                    <a href="RedDiamond24-/dist/home.html#block-founder"
                                        data-goto=".block-founder">FOUNDER</a>
                                </li>
                                <li>
                                    <a href="https://wa.link/wsujfe">FOR BUSINESS</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__menu">
                            <a href="RedDiamond24-/dist/home.html#block-club" data-goto=".block-club"
                                class="footer-top__menu-title">
                                THE CLUB
                            </a>
                            <ul>
                                <li>
                                    <span>ACADEMY</span>
                                </li>
                                <li>
                                    <span>MEMBERSHIP</span>
                                </li>
                                <li>
                                    <a href="partners.html">PARTNERS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="policy.html" class="footer-top__link">PRIVACY POLICY</a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__left">
                    <div class="footer-bottom__copy">
                        <img src="img/icons/copy.svg" alt="">
                        RED DIAMOND 2026
                    </div>
                    <div class="footer-bottom__logos">
                        <span>SUPPORTED BY </span>
                        <a href="https://ccci.org.cy/" class="footer-bottom__logo">
                            <img src="img/icons/logo4.svg" alt="">
                        </a>
                        <a href="https://www.instagram.com/georgy_shchegolev" class="footer-bottom__link">
                            WEBSITE BY<br>
                            LIFE & LUXURY
                        </a>
                    </div>
                </div>
                <div data-da=".footer-top, 768, last" class="footer-bottom__socials">
                    <a href="https://www.linkedin.com/showcase/red-diamond-business-club/">
                        <img src="img/icons/in.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/reddiamond.award/">
                        <img src="img/icons/instagram.svg" alt="">
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100087370385873">
                        <img src="img/icons/facebook.svg" alt="">
                    </a>
                    <a href="https://www.youtube.com/@CrossRoads-Elizabeth-Friedrich">
                        <img src="img/icons/youtube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>