<header class="header">
    <div class="header__content">
        <div class="menu">
            <button type="button" class="menu__icon">
                <span class="icon-menu"><span></span></span>
            </button>
            <nav class="menu__body">
                <ul>
                    <li>
                        <a href="./" class="menu__link">EVENTS</a>
                    </li>
                    <li>
                        <button type="button" class="menu__link menu-click">ACADEMY</button>
                        <div class="menu__dropdown">
                            <div class="menu__items">
                                <div class="menu__text">
                                    <div class="menu__title">
                                        SOMETHING GREAT<br>
                                        IS BEING CREATED HERE!
                                    </div>
                                    <div class="menu__subtitle">BE TO FIRST TO FIND OUT!</div>
                                </div>
                                <div class="menu__buttons">
                                    <button type="button" class="btn menu-close">
                                        <span>OKAY</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="./" class="menu__link">partners</a>
                    </li>
                    <li>
                        <button type="button" class="menu__link menu-link menu-click">join</button>
                        <div class="menu__dropdown">
                            <div class="menu__items">
                                <div class="menu__text">
                                    <div class="menu__title">
                                        WE OFFER TAILOR MADE PACKAGES FOR<br> BOTH INDIVIDUALS & BUSINESSES
                                    </div>
                                    <div class="menu__subtitle">JOIN AS AN</div>
                                </div>
                                <div class="menu__buttons">
                                    <a href="https://wa.link/wsujfe" class="btn">
                                        <span>INDIVIDUAL</span>
                                    </a>
                                    <a href="https://wa.link/wsujfe" class="btn">
                                        <span>BUSINESS</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-lang">
            <button type="button" class="header-lang__button">
                ENG
            </button>
            <div class="header-lang__dropdown">
                <ul>
                    <li>
                        <a href="./" class="active">ENG</a>
                    </li>
                    <li>
                        <a href="./">GR</a>
                    </li>
                    <li>
                        <a href="./">RU</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>