<div class="block-sponsor">
    <img loading="lazy" src="img/image9.webp" alt="" class="block-sponsor__bg1">
    <img loading="lazy" src="img/image9-mob.webp" alt="" class="block-sponsor__bg2">
    <div class="container">
        <div class="block-sponsor__content">
            <div class="block-sponsor__text">
                SPONSORED AD
            </div>
            <h2 class="title2">
                BRANDING | SMM | WEBDESIGN | COMMUNICATION
                PHOTO & REELS PRODUCTION | PERSONAL BRANDING
            </h2>
            <a href="https://www.instagram.com/georgy_shchegolev">
                Unlock powerful brand growth<br>
                with a free consultation
            </a>
        </div>
    </div>
</div>