<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Мероприятия</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-section block-section2">
                <div class="container">
                    <div class="block-section__content">
                        <div class="block-section-menu">
                            <ul>
                                <li>
                                    <button type="button" class="block-section-menu__button active">
                                        OUR EVENT
                                        <span>GALLERY</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="block-section__events">
                            <div class="block-section__body">
                                <div class="block-section__cards active">
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    POWER OF SHE
                                                </div>
                                                <p>
                                                    #INSIGHTS #NETWORKING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    LIMASSOL CHAMBER OF<br>
                                                    COMMERCE AND INDUSTRY
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img src="img/event1.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img src="img/event2.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img src="img/event3.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img src="img/event1.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img src="img/event2.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img src="img/event3.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd CLUB<br>
                                                    WINTER CELEBRATION
                                                </div>
                                                <p>
                                                    #COCKTAIL
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    ROE BONE LIMASSOL
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/image3.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event4.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event5.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/image3.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event4.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event5.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section card-section-other">
                                        <div class="card-section__bg"></div>
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        RED DIAMONd AWARDS
                                                        5 DIAMOND YEARS
                                                    </div>
                                                    <div class="card-section__text">
                                                        FEATURED
                                                    </div>
                                                </div>
                                                <p>
                                                    #AWARDS #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>FOUR SEASONS HOTEL LIMASSOL CYPRUS</strong>
                                                    <span>
                                                        UNDER THE AUSPICES OF PRESIDENT OF THE REPUBLIC OF CYPRUS H.E.
                                                        MR
                                                        NICOS ANASTASIADES & THE FIRST LADY MRS ANDRI ANASTASIADES
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event6.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event7.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event8.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event6.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event7.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event8.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    POWER OF SHE
                                                </div>
                                                <p>
                                                    #INSIGHTS #NETWORKING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    LIMASSOL CHAMBER OF
                                                    COMMERCE AND INDUSTRY
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event9.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event10.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event11.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event9.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event10.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event11.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd CLUB<br>
                                                    COCKTAIL NETWORKING
                                                </div>
                                                <p>
                                                    #COCKTAIL
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    MAJESTIC LIMASSOL BOUTIQUE
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event12.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event13.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event14.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event12.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event13.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event14.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-popup="#popup1" class="card-section card-section-popup">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd AWARDS<br>
                                                    2049 THE FUTURE
                                                </div>
                                                <p>
                                                    #AWARDS #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong> FOUR SEASONS HOTEL LIMASSOL CYPRUS</strong>
                                                    <span> UNDER THE AUSPICES OF THE FIRST LADY
                                                        MRS ANDRI ANASTASIADES</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event15.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event16.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event17.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event15.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event16.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event17.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd AWARDS<br>
                                                    FLOWER ESSENCE
                                                </div>
                                                <p>
                                                    #AWARDS #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>FOUR SEASONS HOTEL LIMASSOL CYPRUS</strong>
                                                    <span>UNDER THE AUSPICES OF THE FIRST LADY
                                                        MRS PHILIPPA KARSERA</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event18.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event19.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event20.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event18.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event19.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event20.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section card-section-other">
                                        <div class="card-section__bg"></div>
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        LIFE & LUXURY<br>
                                                        CREATIVE AGENCY
                                                    </div>
                                                    <div class="card-section__text">
                                                        SPONSORED AD
                                                    </div>
                                                </div>
                                                <p>
                                                    BRANDING | SMM | DIGITAL | REELS | COMMUNICATION
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    GET A FREE CONSULTATION<br>
                                                    OF YOUR BRANDING
                                                </p>
                                                <a href="https://instagram.com/georgy_shchegolev" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img loading="lazy" src="img/event21.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd AWARDS<br>
                                                    THE RED DIAMOND
                                                </div>
                                                <p>
                                                    #AWARDS #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong> AMARA HOTEL LIMASSOL CYPRUS</strong>
                                                    <span>
                                                        UNDER THE AUSPICES OF THE FIRST LADY
                                                        MRS PHILIPPA KARSERA
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event22.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event23.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event24.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event22.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event23.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event24.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-section-image">
                <img src="img/event25.webp" alt="">
            </div>

            <div class="block-section block-section-last">
                <div class="container">
                    <div class="block-section__content">
                        <div class="block-section-menu">
                        </div>
                        <div class="block-section__events">
                            <div class="block-section__body">
                                <div class="block-section__cards active">
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    ANNUAL CHRISTMAS<br>
                                                    GALA DINNER
                                                </div>
                                                <p>
                                                    #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>
                                                        FOUR SEASONS HOTEL LIMASSOL CYPRUS
                                                    </strong>
                                                    <span>
                                                        UNDER THE AUSPICES OF PRESIDENT OF THE REPUBLIC OF CYPRUS H.E.
                                                        MR
                                                        NICOS ANASTASIADES
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event25.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event26.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event27.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event25.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event26.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event27.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    RED DIAMONd AWARDS<br>
                                                    THE BEGINNING
                                                </div>
                                                <p>
                                                    #AWARDS #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>FOUR SEASONS HOTEL LIMASSOL CYPRUS</strong>
                                                    <span>UNDER THE AUSPICES OF THE FIRST LADY
                                                        MRS ANDRI ANASTASIADES</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event28.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event29.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event30.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event28.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event29.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event30.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    ANNUAL CHRISTMAS<br>
                                                    GALA DINNER
                                                </div>
                                                <p>
                                                    #GALAEVENING
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>
                                                        FOUR SEASONS HOTEL LIMASSOL CYPRUS
                                                    </strong>
                                                    <span>
                                                        UNDER THE AUSPICES OF PRESIDENT OF THE REPUBLIC OF CYPRUS H.E.
                                                        MR
                                                        NICOS ANASTASIADES & THE FIRST LADY MRS ANDRI ANASTASIADES
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event31.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event32.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event33.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event31.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event32.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event33.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    OU ES-TU?<br>
                                                    ART EXHIBITION BY E.F.
                                                </div>
                                                <p>
                                                    #ART
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    1010 HALL NICOSIA
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event34.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event35.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event36.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event34.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event35.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event36.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    E.L.L.E FASHION SHOW<br>
                                                    BY E.F. & KYFA
                                                </div>
                                                <p>
                                                    #FASHIONSHOW
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    ROYAL HALL NICOSIA
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event37.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event38.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event39.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event37.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event38.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event39.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    EXPLOSION FASHION<br>
                                                    SHOW BY E.F.
                                                </div>
                                                <p>
                                                    #FASHIONSHOW
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    BEDROOM LOUNGE
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event40.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event41.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event42.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event40.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event41.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event42.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    LE POUVOIR DES FEMMES<br>
                                                    FASHION SHOW BY E.F. & KYFA
                                                </div>
                                                <p>
                                                    #FASHIONSHOW
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    KOLOSSI CASTLE LIMASSOL
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event43.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event44.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event45.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event43.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event44.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event45.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top">
                                                <div class="card-section__title">
                                                    ILLUSION FASHION<br>
                                                    SHOW BY E.F.
                                                </div>
                                                <p>
                                                    #FASHIONSHOW
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    TOKIO RESTAURANT LIMASSOL
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-section__images">
                                            <div class="card-section__tabs">
                                                <span class="card-section__items">
                                                    <span class="card-section__item active">
                                                        <img loading="lazy" src="img/event46.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event47.webp" alt="">
                                                    </span>
                                                    <span class="card-section__item">
                                                        <img loading="lazy" src="img/event48.webp" alt="">
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="card-section__slides">
                                                <div class="card-section__slider swiper">
                                                    <div class="card-section__wrapper swiper-wrapper">
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event46.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event47.webp" alt="">
                                                        </div>
                                                        <div class="card-section__slide swiper-slide">
                                                            <img loading="lazy" src="img/event48.webp" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-section card-section-last card-section-last-bg">
                                <div class="card-section__body">
                                    <div class="card-section__top">
                                        <div class="card-section__title">
                                            PLANNING AN EVENT?
                                        </div>
                                    </div>
                                    <div class="card-section__bottom">
                                        <p>
                                            WE OFFER A BESPOKE EVENT PLANNING<br>
                                            AND ORGANISATION SERVICE
                                        </p>
                                        <a href="https://wa.link/yrhsrn" class="arrow">
                                            <svg aria-hidden="true" width="14" height="14">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/sponsor.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="popup1" class="popup">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div class="popup__body">
                    <div class="popup__image">
                        <img src="img/image1.webp" alt="">
                    </div>
                    <div class="popup__item">
                        <div class="popup__title">
                            RED DIAMOND AWARDS
                            THE 6TH ELEMENT
                        </div>
                        <p>
                            #COMING 2026
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>