<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <main class="main">

            <div class="block-banner">
                <img src="img/image1-main.webp" alt="" class="block-banner__bg1">
                <img src="img/image1-main-mob.webp" alt="" class="block-banner__bg2">
                <div class="container">
                    <div class="block-banner__content">
                        <a href="./" class="block-banner__logo">
                            <img src="img/icons/logo1-main.svg" alt="">
                        </a>
                        <div class="block-banner__body">
                            <div class="block-banner__top">
                                <h1 class="title1">
                                    A Global Platform Empowering Women with Vision, Integrity, and Purpose
                                </h1>
                                <p>
                                    EVENTS | BUSINESS | NETWORKING | LEARNING
                                </p>
                            </div>
                            <div class="block-banner__bottom">
                                <div class="block-banner__items">
                                    <div class="block-banner-left">
                                        <div class="block-banner-left__column">
                                            <div class="block-banner-left__image">
                                                <img src="img/image2-main.webp" alt="">
                                            </div>
                                            <div class="block-banner-left__items">
                                                <div class="block-banner-left__item">
                                                    <div class="block-banner-left__titles">
                                                        <div class="block-banner-left__title">
                                                            RED DIAMOND AWARDS<br>
                                                            THE 6tH ELEMENT
                                                        </div>
                                                        <span>#COMING SOON</span>
                                                    </div>
                                                    <div class="block-banner-left__data">
                                                        2026
                                                    </div>
                                                </div>
                                                <div class="block-banner-left__item">
                                                    <div class="block-banner-left__text">
                                                        RESERVE TICKETS<br>
                                                        BECOME A PARTNER
                                                    </div>
                                                    <a href="https://wa.link/ikmqxn" class="block-banner-left__arrow">
                                                        <img src="img/icons/arrow1-main.svg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-banner-left__column column2">
                                            <div class="block-banner-left__items">
                                                <div class="block-banner-left__item">
                                                    <div class="block-banner-left__titles">
                                                        <div class="block-banner-left__title">
                                                            WE’RE CREATING SOMETHING<br>
                                                            TRULY EXCITING ON THIS WEBSITE
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-banner-left__item">
                                                    <div class="block-banner-left__text">
                                                        BE THE FIRST TO FIND OUT
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-banner-right">
                                        <div class="block-banner-right__copy">
                                            <img src="img/icons/copyright-main.svg" alt="">
                                            <span>RED DIAMOND 2026</span>
                                        </div>
                                        <div class="block-banner-right__item">
                                            <div class="block-banner-right__text">
                                                SUPPORTED BY
                                            </div>
                                            <img src="img/icons/logo2-main.svg" alt="">
                                            <a href="https://www.instagram.com/georgy_shchegolev"
                                                class="block-banner-right__text">
                                                WEBSITE BY
                                                <br>
                                                LIFE & LUXURY
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-banner__text">
                                    This website is under development. No cookies or tracking technologies are currently
                                    in
                                    use.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>

</html>