<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Partners</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-section block-section2 block-partners">
                <div class="container">
                    <div class="block-section__content">
                        <div class="block-section-menu">
                            <ul>
                                <li>
                                    <button type="button" class="block-section-menu__button active">
                                        OUR PARTNERS
                                        <span>WE RECOMMEND</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="block-section__events">
                            <div class="block-section__body">
                                <div class="block-section__cards active">
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        CYPRUS CHAMBER OF<br>
                                                        COMMERCE & INDUSTRY
                                                    </div>
                                                    <div class="card-section__text">
                                                        #BUSINESS
                                                    </div>
                                                </div>
                                                <p>
                                                    business SUPPORT & NETWORKING OPPORTUNITIES
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>GET CONNECTED</strong>
                                                </p>
                                                <a href="https://ccci.org.cy/" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img src="img/image11.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        CROSSROADS BY<br>
                                                        ELIZABETH FRIEDRICH
                                                    </div>
                                                    <div class="card-section__text">
                                                        #MEDIA
                                                    </div>
                                                </div>
                                                <p>
                                                    Talkshow / Media produCtion / Interviews / BUSINESS SHOWCASE
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>GET CONNECTED</strong>
                                                </p>
                                                <a href="https://ccci.org.cy/" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img src="img/image12.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-section-popup">
                                        <div id="popup2" class="popup">
                                            <div class="popup__content">
                                                <a href="https://instagram.com/georgy_shchegolev" class="popup__body">
                                                    <div class="popup__image">
                                                        <img loading="lazy" src="img/image10.webp" alt="">
                                                    </div>
                                                    <div class="popup__item">
                                                        <div class="popup__title">
                                                            Unlock powerful brand growth
                                                            with a free consultation
                                                        </div>
                                                        <p>
                                                            REDEEM OFFER
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-popup="#popup2" class="card-section card-section-other">
                                            <div class="card-section__bg"></div>
                                            <div class="card-section__body">
                                                <div class="card-section__top top-titles">
                                                    <div class="card-section__titles">
                                                        <div class="card-section__title">
                                                            LIFE & LUXURY<br>
                                                            CREATIVE AGENCY
                                                        </div>
                                                        <div class="card-section__text">
                                                            FEATURED
                                                        </div>
                                                    </div>
                                                    <p>
                                                        BRANDING / SMM / WEBDESIGN / COMMUNICATION
                                                        PHOTO & REELS PRODUCTION / PERSONAL BRANDING
                                                        EVENT DESIGN / MARKETING MATERIAL PRINTING
                                                    </p>
                                                </div>
                                                <div class="card-section__bottom">
                                                    <p>
                                                        <strong>GET CONNECTED</strong>
                                                    </p>
                                                    <a href="https://instagram.com/georgy_shchegolev" class="arrow">
                                                        <svg aria-hidden="true" width="14" height="14">
                                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-section__image">
                                                <img loading="lazy" src="img/event21.webp" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        NATRUE BEAUTY & SPA
                                                    </div>
                                                    <div class="card-section__text">
                                                        #Beauty
                                                    </div>
                                                </div>
                                                <p>
                                                    Unique beauty and spa treatments
                                                    in the heart of Limassol
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>GET CONNECTED</strong>
                                                </p>
                                                <a href="https://ccci.org.cy/" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img src="img/image13.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        A.I. AESTHETIC CLUB
                                                    </div>
                                                    <div class="card-section__text">
                                                        #Beauty
                                                    </div>
                                                </div>
                                                <p>
                                                    High-End Wellness Club
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>GET CONNECTED</strong>
                                                </p>
                                                <a href="https://ccci.org.cy/" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img src="img/image14.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <div class="card-section__body">
                                            <div class="card-section__top top-titles">
                                                <div class="card-section__titles">
                                                    <div class="card-section__title">
                                                        Philarmonie Consulting
                                                    </div>
                                                    <div class="card-section__text">
                                                        #CONSULTING
                                                    </div>
                                                </div>
                                                <p>
                                                    financial planning / corporate services / governance
                                                </p>
                                            </div>
                                            <div class="card-section__bottom">
                                                <p>
                                                    <strong>GET CONNECTED</strong>
                                                </p>
                                                <a href="https://ccci.org.cy/" class="arrow">
                                                    <svg aria-hidden="true" width="14" height="14">
                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-section__image">
                                            <img src="img/expert3.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-section card-section-last card-section-last-bg">
                                <div class="card-section__body">
                                    <div class="card-section__top">
                                        <div class="card-section__title">
                                            BECOME OUR TRUSTED PARTNER
                                        </div>
                                    </div>
                                    <div class="card-section__bottom">
                                        <p>
                                            PROMOTE YOUR BUSINESS WITHIN
                                            THE RED DIAMOND COMMUNITY
                                        </p>
                                        <a href="https://wa.link/yrhsrn" class="arrow">
                                            <svg aria-hidden="true" width="14" height="14">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/sponsor.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>