body {
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  background-image: url("../img/image1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  @media (max-width: 400px) {
    background-image: url("../img/bg-mob.webp");
  }
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  &::before {
    content: "";
    position: fixed;
    top: 264px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(10, 17, 25, 0.4) 0%, rgba(7, 7, 7, 0.4) 30%, rgba(7, 7, 7, 0.95) 100%);
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex: 0 0 auto;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  min-height: 32px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: 370px) {
    padding: 5px 10px;
  }
}

.arrow {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f6f6f5;
  svg {
    transition: transform 0.4s, margin-bottom 0.3s;
    fill: none;
    stroke: #483730;
    color: #483730;
    margin-bottom: -2px;
  }
}

.title1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.title2 {
  position: relative;
  z-index: 10;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: #f6f6f5;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
