:root {
  --container-width: 999px;
  --container-padding: 38px;
  --black: #fff;

  --font-family: "QuattrocentoSans", sans-serif;
  --second-family: "WorkSans", sans-serif;
  --third-family: "BodoniModaSC", sans-serif;
}
